<!DOCTYPE html>
<html>

<head>
    <title>Bill Calculator</title>
    style 
      include 6.css
    script 
      include 7.js
    script 
      include 9.js
</head>

<body>
    <br><br><br><br>
    <div class="container">
        <h1>MONTHLY EXPENSE</h1>
        
        <div id="A">
            <label for="input_value1">ITEM NAME</label>
            <input type="text" id="input_value1" name="input_value1" placeholder="Enter Name">
            <br>

            <div class="form-group">
                <label for="input_value2">SELECT A DATE</label>
                <input type="date" id="input_value2" name="input_value2">
            </div>
            <br>
            <label for="input_value3">COST</label>
            <input type="text" id="input_value3" name="input_value3" placeholder="Enter your Cost">
            <br>
            <div class="form-group">
                <label for="payment_method">WHO ARE YOU ?</label>
                <select id="payment_method" name="payment_method">
                    <option value="" selected disabled>SELECT</option>
                    <option value="SATYABRATA">SATYABRATA</option>
                    <option value="RACHANA">RACHANA</option>
                    <option value="SOHINI">SOHINI</option>
                    <option value="SOHEL">SOHEL</option>
                </select><br>

                <br>
                <div class="button-container">
                    <button type="submit" id="submit1" onclick="expense()">SUBMIT</button>
                    <button type="reset" id="submit2">HISTORY</button>
                </div>
            </div>
        </div>

        <div class="transaction-history">
            <h2 class="tran_his">CURRENT HISTORY</h2>
            <div class="transaction-cards">
            </div>
        </div>


    </div>
</body>

</html>