<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Retrieved Data Display</title>
    style 
      include 6.css
    
    
</head>

<body>
    //- <h1 id="pageTitle" data-title=#{content}></h1>
    <h1>HISTORY</h1>
    <div class="container">
        <div id="data-container">
        </div>
        <button type="button" id="back">BACK</button>
        <button type="button" id="download">DOWNLOAD AS PDF</button>
    </div>
    script 
      include 8.js
    script 
      include 10.js 
    
</body>

</html>