<!DOCTYPE html>
<html>

<head>
    <title>Bill Calculator</title>
    style
      include 3.css
</head>

<body>
    <h1 id="pageTitle" data-title=#{content}></h1>
    script
        include confirmation.js
    <p>SUBMITTED</p>
</body>

</html>
